<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
    <center>
    <form action="success" method="post" style="padding-top: 10vh;">
        <h1 style="padding-bottom: 5vh;"> Welcome Guys</h1>
        <label for="name" >Enter your Name :</label>
        <input type="text" id="name" name="name"><br></br>
        <label for="number">Enter your Phone Number :</label>
        <input type="tel" name="number" id="number" maxlength="10" ><br></br>
        <label for="mail">Enter your Mail Id :</label>
        <input type="email" name="mail" id="mail"><br></br>
         <button type="submit">Submit</button>
         <button type="reset">Reset</button>
    </form>
    </center>
</body>
</html>